.black_line {
    border-bottom: 3px solid #6c757d!important;
}

.tab-content>.show p {
    font-weight: 300;
    font-size: 14px
}

.card-body2>.list-group>.list-group-item {
    border: 0 solid rgba(0, 0, 0, .125)
}

.bottom-1x {
    margin-bottom: 10px
}

.bottom-2x {
    margin-bottom: 20px
}

.padding-0 {
    padding: 0!important
}

.expand-0 {
    padding-right: 0;
    padding-left: 0
}

.border-bottom-rad {
    border-radius: 0 0 10px 10px
}

.col-md-12>.breadcrumb {
    background-color: #3c3c3c
}

.col-md-12>.breadcrumb>.breadcrumb-item.active {
    color: #888
}

.border-dark {
    color: #fff;
    background: #222;
    box-shadow: 1px 2px 8px #000;
    border-color: #222!important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.mb-3>.episode-search {
    margin-top: 10px;
    margin-bottom: 10px
}

.episode a {
    color: #fff;
    margin-right: 5px
}

.episode>p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
    background: hsla(0, 0%, 100%, .05);
    text-align: left
}

.episode a:hover {
    color: #888;
    text-decoration: none
}

.img-thumbnail {
    padding: 0;
    border: 0 solid #ddd
}

.i_image {
    width: 100%;
    height: auto
}

.termgame_img {
    width: 100%;
    height: 200px;
    transition: -webkit-transform .25s ease
}

.termgame_grid:hover>a>.termgame_img {
    -webkit-transform: scale(1.05)
}

.termgame_grid:hover>.termgame_col {
    position: relative
}

.termgame_grid:hover .termgame_title,
.termgame_grid:hover .jame {
    opacity: 0
}

.termgame_grid:hover>a>.termgame_img {
    opacity: 1
}

.termgame_grid {
    padding: 0 6px;
    margin-bottom: 20px
}

.image-top {
    border-radius: 76px;
    border: 3px solid #3c3c3c;
    width: 76px;
    height: 76px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.page-link,
a {
    color: #2e2e2e
}

.page-link,
a:hover {
    color: #888;
    text-decoration: none
}

.pane_tab_item {
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0 0 0
}

.footer-credit {
    padding: 15px
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 71px;
    height: 96px;
    text-align: center;
    line-height: 30px;
    background: url(https://termgame-thai.com/assets/image/untermgamed.png?v=100);
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 0
}

#back-to-top:hover {
    opacity: .5
}

#back-to-top.show {
    opacity: 1
}

.noshow {
    display: none
}